@model PPC_Rental.Models.NEWS

@{
    ViewBag.Title = "DetailNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



   <!-- BREADCRUMBS-->
<div class="full-width page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <a href="index-2.html">Home</a>
                    <span class="sep">/</span>
                    <a href="blog.html">Blog</a>
                    <span class="sep">/</span>
                    <span class="current">@Model.Head</span>
                </div>
                <h2 class="page-title">@Model.Head</h2>
                <p class="single-post-meta">
                    <span><i class="fa fa-calendar"></i>8 June 2015</span>
                    <span class="sep">|</span>
                    <span><i class="fa fa-user"></i>@Model.USER.FullName</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS -->
<!-- POST DETAIL -->
<div class="full-width page-wrap">
    <div class="container">
        <div class="page-contents">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <p>@Model.Content</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <figure>
                        <a href="#">
                            <img src="~/DetailImages/@Model.DetailImages" alt="Profile Image" class="img-responsive">
                            <div class="overlay"></div>
                        </a>
                    </figure>
                </div>
                <div class="col-md-6">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,<br> eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam<br> voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- POST DETAIL -->